.info {
    $line-normal: 1.34 !global; // 지역변수를 전역으로 강제함
    font-size: 15px;
    line-height: $line-normal;
    text-align: right;
    span {
        line-height: $line-normal;
    }
}

div {
    color: red;
    line-height: $line-normal; // 사용가능해짐
}
